extends layout

block head-extra
  script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
  script(src="/js/map.js")

block content
  div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Переключити навігацію
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#")= title
      div.navbar-collapse.collapse
        p.navbar-text.pull-right
          Ви ввійшли як:&nbsp;
          a.navbar-link(href="#") Username
        ul.nav.navbar-nav
          li.active
            a(href="#") Головна
          li
            a(href="#") Як це працює
          li
            a(href="#") Контакти

  div.container
    div.row

      div.col-md-8
        div.panel
          div#map(data-locations=events_str)

      div.col-md-4
        a.btn.btn-danger.btn-lg Трапилось лихо?
        h3 Останні події
        div.list-group
          each ev, i in eventlist
            a.list-group-item.event(href="#", data-index="#{ev._id}")
              div.circle.pull-right.avatar
                img(src="http://www.gravatar.com/avatar/c7abad9d6f58fafd4cba2eb7c2aedaa4?s=48", alt="jardev")
              h4.list-group-item-heading= ev.title
              p.list-group-item-text= ev.description
              small= ev.address


    hr

    footer
      p &copy; Notif 2013


