extends layout

block head-extra
  script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
  script(src="/socket.io/socket.io.js")
  script(src="/js/map.js")
  script(src="/js/news.js");

block content
  div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Навігація
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Гарячі точки
      if user
        a.circle.pull-right
          img(src="https://graph.facebook.com/" + user.facebook_id + "/picture?width=32&height=32")
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href="/") Повідомлення
          if user
            li
              a(href="/people") Люди
          li
            a(href="#") Контакти
          if user
            li
              a(href="/auth/logout") Вийти
          else
            li
              a(href="/auth/facebook") Зайти з Facebook

  div.container
    div.row

      div.col-md-4
        if user
          a.btn.btn-danger.btn-lg(href="/newevent") Трапилось лихо?
        h3 Останні події
        div#news.list-group
          each ev, i in eventlist
            a.list-group-item.event(href="#", data-index="#{ev._id}")
              div.circle.pull-right.avatar
                img(src="https://graph.facebook.com/" + ev.reporter.facebook_id + "/picture?width=32&height=32")
              h4.list-group-item-heading= ev.title
              p.list-group-item-text= ev.description
              small #{ev.address}, #{moment(ev.reported_at).format('HH:mm DD.MM.YYYY')}

      div.col-md-8
        div.panel
          div#map(data-locations=events_str)

    hr

    footer
      p &copy; Notif 2013


