a.list-group-item.event(href="#", data-index="#{event._id}", style="display:none;", data-location=event_str)
  div.circle.pull-right.avatar
    img(src="http://www.gravatar.com/avatar/c7abad9d6f58fafd4cba2eb7c2aedaa4?s=48", alt="jardev")
  h4.list-group-item-heading= event.title
  p.list-group-item-text= event.description
  small= event.address
  small #{event.address}, #{moment(event.reported_at).format('HH:mm DD.MM.YYYY')}